body{
	font-family: Raleway, Verdana, sans-serif;
	background-color: white;
	}
	
img {
	width: 100%;
	height: 582px;
	margin-left: 20px;
	margin-top: 20px;
	margin-right: 20px;
	}

.flex-container {
	display: flex;
	flex-flow: row;
	font-size: 40px;
	width: 100%;
	border: 1px #ccc solid;
	}

.flex-item{
	background-color: black;
	border: 1px #ccc solid;
	width: 12.5%;
	color: white;
}

a:hover {
	color: yellow;
}

a:active {
	color: red;
}

a:visited {
	color: white;
}

a {
	text-decoration: none;
	padding: 0px;
}

h1 {
	text-align: center;
}

h3{
	text-align: center;
}

p {
	text-align: center;
	font-size: 12px;
}
.grotschilderingen {
	background-color: #EFF2B6;
}
.spijkerschrift {
	background-color: #B6B4E6;
}
.postduiven {
	background-color: #90C3D4;
}
.telefoon {
	background-color: #F2B6D1;
}
.internet {
	background-color: #9DE5C4;
}
.mobiel {
	background-color: #FFB6C1;
}
.facebook {
	background-color: #B0E0E6;
}
.instagram {
	background-color: #e6e6fa;
}

@media only screen and (min-width: 768px){ 
	p {
		font-size: 25px;
}
	.grotschilderingen{
		display: flex;
	}
	.spijkerschrift {
		display: flex;
	}
	.postduiven {
		display: flex;
	}
	.telefoon {
		display: flex;
	}
	.internet {
		display: flex;
	}
	.facebook {
		display: flex;
	}
	.instagram {
		display: flex;
	}
	.box1 {
		flex: 1;
	}
	.plaatje {
		flex: 2;
	}
}
@media only screen and (min-width: 1280px){ 
	img {
		width: 45%;
	}
}
@media only screen and (min-width: 1444px){ 
	img {
		width: 45%;
	}





